form{
    font-size: large;
    padding:20px;
    border: solid;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: rgb(235, 233, 233);
    text-align: center;
}

div{
    margin-top: 15px;
    margin-bottom: 15px;
}

label{
    widows: 50px;
    box-sizing: border-box;
    border: black;
    color:black;
}

a{
    box-sizing: content-box;
    border: solid black;
    padding: 10px;
    background-color: grey;
    color: black;
    text-decoration: none;
}