<form [formGroup]="changepasswordform" style="background-image: url('../bg1.jpg');" >
    <p style="font-size: xx-large;  text-align: center; color:red; font-weight: 700;">Change Password</p>
    <div class="table-borderless" style="border-spacing:10px 15px; font-size: large;  color: violet;">
    <tr>
        <th>Username:</th>
    <th><input type="text" formControlName="username"></th>
    </tr>
    <tr>
        <th>New Password:</th>
    <th><input #p1 type="password" formControlName="password"></th>
    </tr>
    <tr>
    <th>Confirm New Password:</th>
<th><input #p2 type="password" formControlName="password"></th>
    </tr>
    </div>
    <p *ngIf="p1.value!=p2.value">The passwords do not match</p>
    <button type="submit" class="btn btn-primary" [disabled]="changepasswordform.invalid || p1.value!=p2.value" (click)="loginuser()" routerLink="/login">Change</button>

</form>
