    <div class="d-flex justify-content-center" style="background-color:grey; padding-top: 40px; background-image: url('../bg1.jpg'); color: tomato;" >
    <form [formGroup]="loginform"> 
    
    <p style="font-size: xx-large;text-align: center;  ">Login</p>
    <div class="table-borderless" style="border-spacing:10px 15px; font-size: large;">
        <tr>
            <th>Username:</th>
            <th><input type="text" formControlName="username"></th>
        </tr>
        <tr>
            <th>Password:</th>
            <th><input type="password" formControlName="password"></th>
        </tr>
        </div>
        <div class="d-flex justify-content-center" style="padding-top: 20px; padding-bottom: 20px;">
    <button type="submit" class="btn btn-primary btn-lg" [disabled]="loginform.invalid" (click)="loginuser()" routerLink="/home" style="padding-left: 20px;" >Login</button><br>
        </div>
        <div class="d-flex justify-content-center" style=" padding-bottom: 20px; font-size: larger;">
    Didn't have an account ?<a routerLink="/signup" style="color: orange;"> Signup here</a>
</div>
</form>
    </div>
